<h2 class="title is-size-4">Discover</h2>

<div class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Users</p>
      <p class="title"><%= User.count %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Posts</p>
      <p class="title"><%= Post.count %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Comments</p>
      <p class="title"><%= Comment.count %></p>
    </div>
  </div>
</div>
