<h1 class="title is-size-2 my-4">Timeline</h1>

<% if user_signed_in? %>
  <%= turbo_frame_tag Post.new do %>
    <%= link_to 'Create New Post', new_post_path, class: 'button is-info' %>
  <% end %>
<% end %>

<div class="columns is-multiline is-2 is-variable">
  <% @posts.each do |post| %>
    <div class="column is-one-third-tablet is-one-quarter-desktop">
      <%= render post %>
    </div>
  <% end %>
</div>
