<h1 class="title is-size-2 my-4">Timeline</h1>

<% if user_signed_in? %>
  <%= turbo_frame_tag @post do %>
    <%= link_to 'Create New Post', new_post_path, class: 'button is-info' %>
  <% end %>
<% end %>

<article class="columns is-multiline is-1 is-variable my-3">
  <% @timeline.each do |resource| %>
    <div class="column is-one-third-tablet is-one-quarter-desktop">
      <% if resource.respond_to?(:find_or_initialize_like) %>
        <%= render resource, like: resource.find_or_initialize_like(current_user) %>
      <% else %>
        <%= render resource %>
      <% end %>
    </div>
  <% end %>
</article>
