<h1 class="title is-size-2">Timeline</h1>

<div class="columns is-multiline is-2 is-variable">
  <% @posts.each do |post| %>
    <div class="column is-one-third-tablet is-one-quarter-desktop">
      <%= render post %>
    </div>
  <% end %>
</div>
