<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Facebook, <%= @user.full_name %>!</h1>

    <p>You are now entering a <b>new world</b> of social interaction.</p>

    <p>This platform will hopefully help you make new friends and connect with existing family members and make us rich by selling your personal data.</p>

    <p>You can sign in <%= link_to 'Here', '/sign_in' %>.</p>
  </body>
</html>
