<h1 class="title">Edit Comment</h1>
<div class="columns">
  <div class="column is-one-third-desktop">
    <%= render 'comments/comment', comment: @comment %>
  </div>
</div>
<%= turbo_frame_tag @comment do %>
  <div data-turbo="false">
    <%= render 'form', comment: @comment, commentable: @comment.commentable %>
    <%= link_to 'Back', @comment.commentable || root_path, class: 'button is-danger mt-1' %>
  </div>
<% end %>
