<% if @friend_requests.empty? %>
  <i class="is-size-5 mt-2">No new Friend requests.</i>
<% else %>
  <div class="columns is-flex-direction-column is-align-items-center">
    <h2 class="column title">Friend Requests(<%= @friend_requests.length %>)</h2>
    <% @friend_requests.each do |friend_request| %>
      <div class="column is-link is-light mt-1">
        <%= render 'friend_request', friend_request: friend_request %>
      </div>
    <% end %>
  </div>
<% end %>
