<h1 class="title">Edit Post</h1>
<%= turbo_frame_tag @post do %>
  <div data-turbo="false">
    <%= render 'form', post: @post %>
    <%= link_to 'Back', @post, class: 'button is-danger mt-1' %>
  </div>
<% end %>
