<div class="columns is-centered">
  <div class="column is-half">
    <%= render @post, like: @like %>
  </div>
</div>

<%= render 'comments/form', comment: @comment %>

<div class="columns is-centered is-flex-direction-column is-align-items-center">
  <% @comments.each do |comment| %>
    <%= render comment, like: comment.find_or_initialize_like(current_user) %>
  <% end %>
</div>
