<div class="columns is-centered">
  <div class="column is-half">
    <%= render @post %>
  </div>
</div>

<%= render 'comments/form', comment: @comment %>

<%= render 'comments/comments', comments: @comments %>
