<div class="columns is-centered">
  <div class="column is-half">
    <%= render @post, like: @like %>
  </div>
</div>

<%= render 'comments/form', comment: @comment, commentable: @post %>

<div class="columns is-centered is-flex-direction-column is-align-items-center">
  <% @comments.each do |comment| %>
    <div class="column is-one-third">
      <%= render comment, like: comment.find_or_initialize_like(current_user) %>
      <%= render 'comments/replies', replies: comment.collect_replies %>
    </div>
  <% end %>
</div>
