.field { width: min(400px, 100vw); }

.field label { width: max-content; }

.is-width-max-content { width: max-content; }

.input { min-width: max-content; }

.field_with_errors input, .field_with_errors textarea {
  border: 4px solid #f14668;
  border-radius: 4px 4px 0 0;
}

.field_with_errors input, .field_with_errors textarea:hover { border-color: #f14668;}

.dropdown-submit {
  border: none !important;
  width: 100%;
}

.dropdown-submit:hover {
  color: hsl(0, 0%, 4%);
  background-color: hsl(0, 0%, 96%);
}

.read-notification { filter: blur(3px); }

.read-notification:hover { filter: blur(0); }

.comment-submit {
  font-size: 1rem;
  background-color: inherit;
  border: none;
  color: #485fc7;
  cursor: pointer;
}

.comment-submit:hover { color: #2b2828; }

.comment-replies { position: relative; }

.line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #c7c7c7;
  left: -14px;
  bottom: 15px;
}

.word-wrapped {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.home-friend-request {
  max-height: 400px;
  overflow-y: scroll;
}

.home-post { 
  overflow: hidden;
  padding: 0 10px 0 10px; 
}

.home-post img,
.home-post video {
  width: auto;
  max-height: 230px;
}

.image-48x48 {
  max-width: 48px;
  max-height: 48px; 
}

.image-64x64 {
  max-width: 64px;
  max-height: 64px;
}

.image-128x128 {
  max-width: 128px;
  max-height: 128px;
}
