.field {
  width: min(400px, 100vw);
}

.dropdown-submit {
  border: none !important;
  width: 100%;
}

.dropdown-submit:hover {
  color: hsl(0, 0%, 4%);
  background-color: hsl(0, 0%, 96%);
}

.comment-submit {
  font-size: 1rem;
  background-color: inherit;
  border: none;
  color: #485fc7;
  cursor: pointer;
}

.comment-submit:hover {
  color: #2b2828;
}
