.field {
  width: min(600px, 100vw);
}

.dropdown-submit {
  border: none !important;
  width: 100%;
}

.dropdown-submit:hover {
  color: hsl(0, 0%, 4%);
  background-color: hsl(0, 0%, 96%);
}

.comment-submit {
  font-size: 1rem;
  background-color: inherit;
  border: none;
  color: #485fc7;
  cursor: pointer;
}

.comment-submit:hover {
  color: #2b2828;
}

.comment-replies { position: relative; }

.line {
  position:absolute;
  height:100%;
  width:1px;
  background-color:#c7c7c7;
  left:-14px;
  bottom:15px;
}
