<% if resource.errors.any? %>
  <div class="notification is-danger py-1">
    <% resource.errors.full_messages_for(attribute).each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>
